name: Test and Publish Workspace

on:
    push:
        branches:
            - "**"

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-slim
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - name: Set up Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: 2.x

            - name: Lint code
              run: deno lint

            - name: Lint docs
              run: deno task lint-docs

            - name: Format
              run: deno fmt --check

            - name: Test
              run: deno task test-coverage

            - name: Generate Coverage
              run: deno coverage --exclude='tests/' --lcov coverage/ >
                  coverage.lcov

            - name: Publish Coverage
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
    publish:
        name: Publish to JSR
        runs-on: macos-latest
        needs: test
        if: github.ref == 'refs/heads/main'
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - name: Set up Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: 2.x

            - name: Publish to JSR
              run: deno publish
